<div class="container">
    <div class="grid">
        <div class="col-12">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search"
                    [(ngModel)]="searchValue" (change)="searchChanged()" />
            </p-iconField>
        </div>

    </div>
    <ng-container *ngIf="showsList$ | async as showsList">
        <div class="grid">
            <div class="col-2" *ngFor="let show of showsList.results">
                <app-show-item [showItem]="show" [showType]="showsType"></app-show-item>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <p-paginator
                    (onPageChange)="pageChanged($event)"
                    [rows]="20"
                    [totalRecords]="showsList.total_results"
                    [rowsPerPageOptions]="[10, 20, 30]" />
            </div>
        </div>
    </ng-container>
</div>
